* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik";
  background-color: #90afc5;
}

.container {
  margin: 2rem auto;
  max-width: 60rem;
  padding: 1.25rem;
  border: 1px solid #2a3132;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #336b87;
  color: #edf1fe;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .results {
    background-color: #181616;
    padding: 0.6rem;
    border: 1px solid #2a3132;
    display: none;
  }

  .show {
    display: block;
  }

  .severe {
    color: #b6d2e5;
  }

  .underweight {
    color: #7bbae4;
  }

  .normal {
    color: #53eb74;
  }

  .overweight {
    color: #f9c851;
  }

  .obese {
    color: #f98651;
  }

  .severely_obese {
    color: #f95151;
  }

  .morbidly_obese {
    color: #f91111;
  }

  .not_human {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 35s linear infinite;

    @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
    }
  }


  .calculator {
    background-color: #90afc5;
    padding: 3rem;
    border: 1px solid #2a3132;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    span {
      background-color: #71afce;
    }

    p {
      margin: 0.5rem 0;
    }

    input {
      margin: 0.5rem 0;
      max-width: 3.2rem;
      text-align: center;
    }
  }
}